section.proyects-wrapper#proyects
    .btn-inverse.btn-before Atras
    .proyects
        h2 
            span.rounded-border Proyectos
        .flex-layout
            .proyect
                h3.rounded-border!= '2017<span></span>CETAV'
                p Rediseño y creación de algunas de las secciones del sitio web del CETAV.
                ul
                    li Drupal.
                    li Theming.
                    li Grunt.
                    li Sass.
                    li BEM.
                a.btn.proyect-link.js-btn(href="http://parquelalibertad.org/cetav/" target='_blank') Ir al sitio
            .proyect
                h3.rounded-border!= '2017<span></span>Cesar Jara Website Design'
                p Diseño web del entrenador personal Cesar Jara
                ul
                    li Design.
                    li UX Design.
                a.btn.proyect-link.js-btn(href="https://drive.google.com/drive/folders/1SwRFebG1TLFhLlkagCKUQbXyuzyq_CBG?usp=sharing" target='_blank') Ir al Drive
            .proyect
                h3.rounded-border!= '2017<span></span>Medea'
                p   Una película costarricense dirigida por Alexandra Latishev
                ul
                    li HTML.
                    li CSS3.
                    li AJAX.
                    li Gulp.
                    li Git.
                    li Sass.
                    li SMACSS.
                a.btn.proyect-link.js-btn(href="http://medealapelicula.com/" target='_blank') <i class="fa fa-pause" aria-hidden="true"></i> Ir al sitio
            .proyect
                h3.rounded-border!= '2017<span></span>UI Design Final Proyect'
                p Proyecto académico del curso de diseño de interfaces.
                ul
                    li Design.
                    li UX Design.
                a.btn.proyect-link.js-btn(href="https://drive.google.com/drive/folders/1OGiow58d9gIhLj_LtHyGAaDM6IpaD-Zz?usp=sharing" target='_blank') Ir al Drive
            .proyect
                h3.rounded-border!= '2017<span></span>Mastermind'
                p Duplicados el juego Mastermind utilizando multiples patrones de diseño
                ul
                    li JavaScript.
                    li JavaScript Design Patterns.
                a.btn.proyect-link.js-btn(href="https://github.com/mledezma/mastermind-game" target='_blank') Ir al repositorio de Git
            .proyect
                h3.rounded-border!= '2016<span></span>Tradured'
                p Sitio Web para comunidad de traductores e interpretes profesionales
                ul
                    li Configuración de Wordpress.
                    li Advance Custom Fields.
                    li Theming.
                    li Responsive.
                    li Git.
                a.btn.proyect-link.js-btn(href="https://tradured.com/" target='_blank') Ir al sitio
    .btn-inverse.btn-after Adelante    
